.App {
  text-align: center;
}

.App-main {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: black;
}
 
.App--header{
  color: black;
  display: flex;
  background-color: #F8F9FA;
  width: 100%;
  height: 88px;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  align-content: center;
    justify-content: space-around;
    align-items: center;
}

.App--header img{

  width: 122.68px;
  height: 20px;

}

.App--header__btn{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #E9ECEF;
  border: 1.4px solid #E9ECEF;
  box-sizing: border-box;
  border-radius: 8px;

}

.App--header__btn:focus{

  background: #5B6166;
  border: 1.4px solid #5B6166;

}

@media (min-width: 768px){

.App--main--content{

  display: flex;


}

.App--content--List{

  display: flex;
  flex-direction: column;
  width: 100%;

}



}